html, body{
    width: 100%;
    background:url("https://images.unsplash.com/photo-1451906278231-17b8ff0a8880?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1fbb817fbfe2b13a0c81de025e89a890") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.25em; 
}

section{
    margin-bottom: 30px;
}

#seznam{
    margin-top:50px;
    padding: 10px;
    min-height:40vh;
    background-color: rgba(220,220,220,0.6);
    border-radius: 5px;
    
}
.dodajZamenjavo{
    margin-top:50px;
    padding: 10px;
    background-color: rgba(220,220,220,0.6);
    border-radius: 5px;
}

#ponudbeZamenjav{
}

